{
  "extends": ["standard", "standard-react"],
  "rules": {
    "space-before-function-paren": "off"
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ]
  "env": {
    "jest": true,
    "browser": true
  }
}
